<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zst.mapper.TripMapper">

    <resultMap id="TripMap" type="com.zst.pojo.Trip">
        <!-- 班次表 -->
        <result column="classes" property="classes"/>
        <result column="start_time" property="startTime"/>
        <result column="start_station" property="startStation"/>
        <result column="end_station" property="endStation"/>
        <result column="travel_time" property="travelTime"/>
        <result column="capacity" property="capacity"/>
        <result column="sold_tickets" property="soldTickets"/>

        <!-- 车票表 -->
<!--        <association property="ticket" javaType="com.zst.pojo.Ticket">-->
<!--            <result column="sold_tickets" property="soldTickets"/>-->
<!--        </association>-->

    </resultMap>

    <!-- 增加一个Trip 班次信息 -->
    <insert id="addTrip" parameterType="com.zst.pojo.Trip">
        insert into ticket_management.schedules(classes,start_time,start_station,end_station,travel_time,capacity)
        values (#{classes},#{startTime},#{startStation},#{endStation},#{travelTime},#{capacity})
    </insert>

    <!-- 根据班次号删除一个trip -->
    <delete id="deleteTripByClasses">
        delete from schedules where classes = #{classes}
    </delete>

    <!-- 根据班次号查询返回一个班次信息 -->
    <select id="queryTripByClasses" resultType="com.zst.pojo.Trip" parameterType="java.lang.String">

        SELECT s.classes, s.start_time, s.start_station, s.end_station, s.travel_time, s.capacity, t.sold_tickets
        FROM schedules s
                 JOIN tickets t ON s.classes = t.classes
        WHERE s.classes = #{classes}
    </select>

    <!-- 更新班次信息 -->
    <update id="updateTrip">
        update schedules
        set start_time = #{startTime},start_station = #{startStation},end_station = #{endStation},
            travel_time = #{travelTime},capacity = #{capacity}
        where classes = #{classes}
    </update>

    <!-- 根据条件查询带分页 -->
    <select id="selectByCondition" resultMap="TripMap" parameterType="java.util.Map">

        select s.classes,s.start_time,s.start_station,s.end_station,s.travel_time,s.capacity,t.sold_tickets
        from schedules s,tickets t

        <where>
        s.classes = t.classes
        and is_delete = 0
            <if test="classes != null and classes != ''">
               and s.classes = #{classes}
            </if>
            <if test="startStation != null and startStation != ''">
                and s.start_station like concat('%',#{startStation},'%')
            </if>
            <if test="endStation != null and endStation != ''">
                and s.end_station like concat('%',#{endStation},'%')
            </if>
        </where>
    </select>

    <!-- 获取全部的车次信息 -->
    <select id="getAllTrips" resultType="com.zst.pojo.Trip" parameterType="java.util.Map">

        select * from schedules

        <where>
            <if test="classes != null and classes != ''">
                and classes = #{classes}
            </if>
            <if test="startStation != null and startStation != ''">
                and start_station like concat('%',#{startStation},'%')
            </if>
            <if test="endStation != null and endStation != ''">
                and end_station like concat('%',#{endStation},'%')
            </if>
        </where>

    </select>

</mapper>